.services__header {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #333333;
  margin: 16px 0;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
}

.item__body {
  position: relative;
  width: 220px;
  height: 378px;
  background: #ffffff;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  margin-bottom: 21px;
}

.item__body ul {
  padding: 17px 0 0 17px;
  margin: 0;
  list-style: none;
}

.item__body li {
  background-image: url('../../assets/img/checkMark.svg');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

.item__header {
  border-radius: 15px 15px 0 0;
  margin: 0;
  padding: 0 5px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(119, 178, 211, 1);
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__price {
  position: absolute;
  bottom: 0;
  left: 16px;
  border-top: 1px solid rgba(226, 226, 226, 1);
  line-height: 44px;
  display: flex;
  align-items: baseline;
}

.item__price p {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 44px;
  background: linear-gradient(115.11deg, #f32c6d 10.12%, #cb1d95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media screen and (max-width: 1398px) {
  .services__header {
    text-align: center;
  }

  .services__items {
    justify-content: center;
  }
}
