.footer {
  position: relative;
  padding-bottom: 103px;
}

.footer-logo {
  width: 325px;
  height: 70px;
  margin: 0 0 0 -13px;
  overflow: hidden;
}

.footer-politic {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #333333;
  margin: 5px 0 22px;
}

.footer__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 115px;
}

.footer__container div {
  display: flex;
  flex-direction: column;
}

.footer__container div ul {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  color: #333333;
}

.footer__container div ul li a {
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: #333333;
}

.footer__rights {
  width: 100%;
  background-color: rgba(45, 45, 45, 1);
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__rights p {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  color: #ffffff;
}
